@import "variables.less";
//geometry solid
@cuadradro: 200px ;
@margincuadrado: 30px 0px 0px 0px;


/* cambio de color */

#animation1{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja3;
	margin: @margincuadrado;
	transition-duration: 1s;
}

#animation1:hover{
	background-color: @verde;

	
}

/*medio giro izq*/
#animation2{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja3;
	margin: @margincuadrado;
	transition-duration: 1s;
	animation-name: animationtwo;
}

#animation2:hover{
	-webkit-transform:rotate(90deg);
	background-color: @verde;
}

/*medio giro der*/
#animation3{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja3;
	margin: @margincuadrado;
	transition-duration: 1s;
	animation-name: animationtwo;
}

#animation3:hover{
	-webkit-transform:rotate(-90deg);
	background-color: @verde;
}


/* scale x */
#animation4{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja4;
	margin: @margincuadrado;
	transition-duration: 1s;
}

#animation4:hover{
	-webkit-transform:scale(1.8,1); 
	background-color: @verde;
	-webkit-transform-origin: left bottom; 

	
}

/* scale y */
#animation5{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja4;
	margin: @margincuadrado;
	transition-duration: 1s;
}

#animation5:hover{
	-webkit-transform:scale(1,2); 
	background-color: @verde;
	-webkit-transform-origin: left bottom; 

	
}

/* scala desde la izquiera superior */
#animation6{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja4;
	margin: @margincuadrado;
	transition-duration: 1s;
}

#animation6:hover{
	-webkit-transform:scale(1.2,1.2);
	background-color: @morado;
	transform-origin: left top

	
}

/* scala desde la izquiera superior */
#animation7{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @red;
	margin: @margincuadrado;
	transition-duration: 1s;
}

#animation7:hover{
	-webkit-transform:scale(1.2,1.2);
	background-color: @morado;
	transform-origin: right top

	
}

/* scala desde el centro */
#animation8{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @red;
	margin: @margincuadrado;
	transition-duration: 1s;
}

#animation8:hover{
	-webkit-transform:scale(1.2,1.2);
	background-color: @morado;
	

	
}
 /* contraccion */
#animation9{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @red;
	margin: @margincuadrado;
	transition-duration: 0.5s;
}

#animation9:hover{
	-webkit-transform:scale(0,0)
}


 /* opacidad 25% */
#animation10{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @red;
	margin: @margincuadrado;
	transition-duration: 0.5s;
}

#animation10:hover{
	opacity:0.25;
}

 /* opacidad 50% */
#animation11{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @red;
	margin: @margincuadrado;
	transition-duration: 0.5s;
}

#animation11:hover{
	opacity:0.5;
}


 /* opacidad 75% */
#animation12{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @red;
	margin: @margincuadrado;
	transition-duration: 0.5s;
}

#animation12:hover{
	opacity:0.75;
}


 /* translatex(100px) */
#animation13{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja3;
	margin: @margincuadrado;
	transition-duration: 1s;
}

#animation13:hover{
	-webkit-transform:translatex(100px)
}

 /* translatex(-100px) */
#animation14{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja3;
	margin: @margincuadrado;
	transition-duration: 1s;
}

#animation14:hover{
	-webkit-transform:translatex(-100px)
}

 /* translatey(100px) */
#animation15{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja3;
	margin: @margincuadrado;
	transition-duration: 1s;
}

#animation15:hover{
	-webkit-transform:translatey(100px)
}


 /* translatey(-100px) */
#animation16{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja4;
	margin: @margincuadrado;
	transition-duration: 1s;
}

#animation16:hover{
	-webkit-transform:translatey(-100px)
}

 /* translatey(-100px) */
#animation17{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja4;
	margin: @margincuadrado;
	transition-duration: 1s;
}

#animation17:hover{
	-webkit-transform:scale(1,0);
}

 /* translatey(-100px) */
#animation18{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja4;
	margin: @margincuadrado;
	transition-duration: 1s;
}

#animation18:hover{
	-webkit-transform:scale(0,1);
}

 /* translatey(-100px) */
#animation19{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @red;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name:rot;
	-webkit-animation-duration:1s;
	/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes rot {
	from {-webkit-transform:rotate(0deg) scale(1,1);}
	to {-webkit-transform:rotate(90deg) scale(0,0);}
	
	}


 /* translatey(-100px) */
#animation20{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @red;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name: sr;
	-webkit-animation-duration:1s;
	/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes sr{
	from {-webkit-transform:scale(0,0) rotate(90deg);}
	to {-webkit-transform:scale(1,1) rotate(0deg);}
}

#animation21{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @red;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name:si;
	-webkit-animation-duration:1s;
	/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes si{
	from {-webkit-transform:scale(0,0.9);}
	to {-webkit-transform:scale(1,1)}

}

#animation21{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @red;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name:si;
	-webkit-animation-duration:1s;
	-webkit-transform-origin: left center;
	/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes si{
	from {-webkit-transform:scale(0,1);}
	to {-webkit-transform:scale(1,1)}

}

#animation22{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @red;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name:si;
	-webkit-animation-duration:1s;
	-webkit-transform-origin: right center;
	/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes si{
	from {-webkit-transform:scale(1,1);}
	to {-webkit-transform:scale(0,1)}

}

#animation23{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @red;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name:si;
	-webkit-animation-duration:1s;
	-webkit-transform-origin: right bottom;
	/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes si{
	from {-webkit-transform:scale(1,0);}
	to {-webkit-transform:scale(1,1)}

}

#animation24{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @red;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name:si;
	-webkit-animation-duration:1s;
	-webkit-transform-origin: right top;
	/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes si{
	from {-webkit-transform:scale(1,0);}
	to {-webkit-transform:scale(1,1)}

}

#animation25{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja3;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name: clock;
	-webkit-animation-duration: 1s;
	/*para pausar el loop de la animacion quitar esta propiedad*/

	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes clock{
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}


#animation26{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja3;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name: pers;
	-webkit-animation-duration: 1s;
	/*para pausar el loop de la animacion quitar esta propiedad*/

	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes pers{
	from {-webkit-transform:rotatey( 0deg);}
	to {-webkit-transform:rotatey( 360deg);}
}

#animation27{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja3;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name: persa;
	-webkit-animation-duration: 1s;
	/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes persa{
	from {-webkit-transform:rotatex( 0deg);}
	to {-webkit-transform:rotatex( 360deg);}
}

#animation28{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja4;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name: trasx;
	-webkit-animation-duration:1s;
	/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes trasx{
	from {-webkit-transform:translatex(0px);}
	to {-webkit-transform:translatex(-50px);}
}

#animation29{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja4;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name: tras_x;
	-webkit-animation-duration:1s;
	/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes tras_x{
	from {-webkit-transform:translatex(0px);}
	to {-webkit-transform:translatex(50px);}
}

#animation30{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja4;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name: sx;
	-webkit-animation-duration:1s;
	/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes sx{
	from { -webkit-transform:translatey(0px);}
	to {-webkit-transform:translatey(50px);}
}


#animation31{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja4;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name: sx;
	-webkit-animation-duration:1s;
	/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes sx{
	from { -webkit-transform:translatey(50px);}
	to {-webkit-transform:translatey(0px);}
}


#animation32{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja4;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name: sxr;
	-webkit-animation-duration:1s;
	/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes sxr{
	from { border-radius:0em;}
	to {border-radius:5em;}
}


#animation33{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja4;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name: sxre;
	-webkit-animation-duration:1s;
/*para pausar el loop de la animacion quitar esta propiedad*/

	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes sxre{
	from { border-radius:0em;}
	to {border-radius:10em;}
}

#animation34{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja4;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name: sxref;
	-webkit-animation-duration:1s;
	/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes sxref{
	0%{ -webkit-transform:scale(0,0);}
	50%{-webkit-transform:scale(1,0.1);}
	100%{-webkit-transform:scale(1,1);}

}

#animation35{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja4;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name: sxrefa;
	-webkit-animation-duration:1s;
/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes sxrefa{
	0%{ -webkit-transform:scale(0,0);}
	50%{-webkit-transform:scale(0.1,1);}
	100%{-webkit-transform:scale(1,1);}

}

#animation36{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja4;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name: rotatega;
	-webkit-animation-duration:1s;
	/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes rotatega{
	0%{ -webkit-transform:scale(0,0) rotate(0deg);}
	50%{-webkit-transform:scale(0.1,1) rotate(180deg);;}
	100%{-webkit-transform:scale(1,1) rotate(360deg);}

}

#animation37{
	width: @cuadradro;
	height: @cuadradro;
	background-color: @naranja4;
	margin: @margincuadrado;
	transition-duration: 1s;
	-webkit-animation-name: sxrefq;
	-webkit-animation-duration:1s;
	/*para pausar el loop de la animacion quitar esta propiedad*/
	-webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes sxrefq{
	0%{ -webkit-transform:scale(0,0)rotatey(0deg);}
	50%{-webkit-transform:scale(1,0.1)rotatey(180deg);}
	100%{-webkit-transform:scale(1,1)rotatey(0deg);}

}